<%@ jet class="AfterMethodGenerator" package="com.google.cipollino.core.codegen" skeleton="Codegen.skeleton"%>
{
	com.google.cipollino.core.runtime.Runtime __runtime = com.google.cipollino.core.runtime.Runtime.getInstance();

	com.google.cipollino.core.actions.ActionsRunner __runner = __runtime.peekRunner();
	__runner.getCallState().setResult($_);
	__runner.afterMethod();
}
